{% extends 'core/base.html' %}

{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="booking_area">
            <div class="booking">
                <form id="form1" method="get" class="">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="room_book border-right-dark-1">
                                <p class="margin-top-6">Book Your</p>
                                <p>Rooms</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group border-bottom-dark-2">
                                <input class="form-control" readonly name="date_start" id="datepicker" width="350" placeholder="Entrada"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group border-bottom-dark-2">
                                <input class="form-control" readonly name="date_end" id="datepicker2" width="350" placeholder="Salida"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <select name="n_persons" class="form-control" id="FormControlSelect">
                                <option value="1">1 persona</option>
                                <option value="2">2 persona</option>
                                <option value="3">3 persona</option>
                                <option value="4">4 persona</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btn-primary mb-2 margin-top-25" onclick="buscar()">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <span id="msj_error" class="msj_error display-none" onclick="hide()"></span>
    </section>

    <nav>
        <div class="bg-dark padding-10">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-secondary">Secondary</button>
                    </div>
                    <div class="col text-right">
                        {% if not request.user.is_authenticated %}
                            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
                            <a class="btn btn-warning" href="{% url 'signup' %}">Registrarse</a>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <a class="margin-right-20" href="{% url 'logout' %}">Salir</a>
                            <strong class="user_text">Hola: {{request.user}}</strong>
                            <form class="display-inline" action="/mybooks/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="email" value="{{request.user.email}}">
                                <button type="submit" class="btn btn-secondary" href="{% url 'mybooks' %}">Mis reservas</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% include 'rooms/rooms.html' %}
</main>
{% endblock %}